@import '../variables/colors.scss';

.tooltip {
  &::after {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 8px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    content: attr(data-title);
    margin-top: -24px;
    opacity: 0;
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;
    left: 50%;

    transition: all 0.4s ease-in-out;
  }

  &:hover::after {
    opacity: 1;
    visibility: visible;
  }
}
