@import '../../../styles/variables/colors.scss';

.authorize {
  display: flex;
  align-items: center;
}

.authorize__route {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1.5px solid $color-primary-dark;

  color: $color-primery-light;
  transition: color 0.3s;

  &:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }

  &:hover {
    color: $color-orange-secondary;
  }
}
