.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-container__label {
  font-size: 1.6rem;
  margin-bottom: 5px;
  cursor: pointer;
}

.input-container__input {
  max-width: 150px;
}

.btn-container {
  margin-top: 15px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  font-size: 1.5rem;
}

.message {
  height: 16px;
  font-size: 14px;
  margin-bottom: 10px;
}

.register-route__form {
  display: flex;
  flex-wrap: wrap;
  max-height: 60vh;
  gap: 20px;
}

.country-select {
  max-width: 150px;
}

.error-login {
  border: 2px solid red;
}

.hide {
  display: none;
}

.input-container__input[type='checkbox'] {
  margin-left: 0;
}
