@import '../../../styles/variables/colors.scss';
@import '../../../styles/mixins/mixin-text.scss';

select {
  height: 2.6rem;
  border: 2px solid $color-gray-light;
  border-radius: 3px;
}
.input-checkbox-container {
  display: flex;
  flex-direction: row-reverse;
}
.shipping-checkbox {
  display: flex;
  justify-content: space-evenly;
}

.shipping-address-wrapper_form {
  &::before {
    content: 'Shipping addresss';
    position: relative;
    @include text-note;
  }
}
.billing-address-wrapper_form {
  &::before {
    content: 'Billing addresss';
    position: relative;
    @include text-note;
  }
}

.link-container__login {
  color: $color-blue;
  &:hover {
    font-weight: 900;
  }
}
