@import '../../../styles/variables/colors.scss';
@import '../../../styles/mixins/mixin-media-query.scss';

.about-route {
  max-width: 100%;
  background-color: $color-gray-bg;
}

.about-route__head {
  margin-bottom: 40px;
}

.about-route__wrapper {
  max-width: 1200px;
  width: -webkit-fill-available;
}

.about-route__cards-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.about-route__introduction {
  max-width: 800px;
  margin: 0 auto;
}

.about-route__rs-logo {
  display: block;
  margin: 0 auto;

  max-width: 200px;
  height: 100px;
  background-image: url('../../../assets/svg/rs_school_js.svg');
  background-repeat: no-repeat;
  background-position: center;
}

// Card

.about-card {
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover .about-card__img-container {
    border-radius: 10px;
    border: 1px solid $color-gray-dark;
    box-shadow: 0px 0px 27px -3px $color-orange-secondary;
  }

  &:hover .about-card__img {
    border-radius: 10px;
  }
}

@media (max-width: 1079px) {
  .about-card:last-child {
    margin: 0 auto;
  }
}

.about-card__img-container {
  box-sizing: border-box;
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  transition: 0.4s;
}

.about-card__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.4s;
}

.about-card__name {
  text-align: center;
  margin: 15px 0 10px 0;
}

.about-card__descript {
  margin-bottom: 20px;
}

.about-card__text_bold {
  font-weight: bold;
}

.about-card__contribution {
  margin-bottom: 15px;
}

.about-card__contribution-head {
  margin: 10px 0 5px 0;
}

.about-card__contribution-list {
  margin-left: 10px;
}

.about-card__git {
  display: block;
  text-align: center;
  transition: 0.2s;

  &:hover {
    text-shadow: 0px 1px 8px $color-orange;
  }
}
