$color-primery-light: #fffcf2;
$color-primary-dark: #ccc5b9;
$color-gray-light: #5a5651;
$color-gray-dark: #252422;
$color-orange: #eb5e28;
$color-orange-secondary: #ef8157;
$color-blue: #0f769e;
