.catalog-route {
  background-color: lightblue;
  padding: 20px;
  align-items: flex-start;
}

.catalog_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.catalog-path_wrapper {
  margin-bottom: 20px;
}

.catalog-filters_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filters_search {
  border: 2px solid transparent;
  padding: 5px;
}

.filters_categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category_item,
.brands_list_item {
  user-select: none;
}

.child-category:hover, 
.active-category,
.brands_list_item:hover,
.active-brand {
  color: blue;
  cursor: pointer
}

.parent-category {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.child-category,
.brands_list_item {
  margin-left: 10px;
}

.price_wrapper {
  padding-top: 10px;
}

.brands_list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.catalog-list_wrapper {
  padding: 0 40px;
}

.catalog-main_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
  background-color: #EEEEEE;
}

.card-img_wrapper {
  height: 390px;
  display: flex;
  background-color: white;
}

.card-img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

.card-price_block {
  display: flex;
  justify-content: space-between;
}

.card_old-price {
  color: grey;
  text-decoration: line-through;
}

.card_cur-price {
  font-size: x-large;
}

.price_wrapper .input-container {
  max-width: 30%;
}

.catalog-header_wrapper .select-container {
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.catalog-header_wrapper {
  display: flex;
  justify-content: space-between;
}